.blush,
.red,
.bru{
    color:darkgoldenrod;
    font-style: "Arial" ;
    font-size: 30px;
}

.one{
    color:lavenderblush;
    font-size: 70px;
    font-family: "Garamond";
    text-align: center;
    font-weight: 600;
    
    
}
.storm{
    font-size:45px;
    font-family: "Arial";
}

